.splash { display:flex; justify-content:center; align-items:center; height:100vh; }
.splash img { cursor:pointer; }


/* 팝업 */
#popup { display:none; position:fixed; top:0; left:0; width:100%; height:100vh; background:rgba(0,0,0,0.75); z-index:3; }
#popup .popup_inner { position:fixed; top:0; bottom:0; left:0; right:0; margin:auto; width:480px; height:240px; background:#fff; z-index:4; text-align:center; }
#popup .popup_inner_300 { height:300px; }
#popup .popup_inner_400 { height:400px; }
#popup .popup_inner .popup_header { padding:14px 24px; background:#F5F5F5; font-size:14px; text-align:left; }
#popup .popup_inner .popup_header img.btn_delete { float:right; cursor:pointer; }
#popup .popup_inner .popup_contents { padding: 0px 24px 24px 24px; text-align: right; }
#popup .popup_inner .popup_contents input { width:100%; height:55px; padding:0px 5px; border:0px; border-bottom:1px solid #CCCCCC; }
#popup .popup_inner .popup_contents input[type="checkbox"] { display:none; }
#popup .popup_inner .popup_contents input[type="checkbox"] + label:before {
	content:""; position:absolute; top:72px; right:36px;
	display:inline-block;
	width:20px; height:20px;
	background:url(../images/check_off.png) center center no-repeat;
	background-size:100%;
}
#popup .popup_inner .popup_contents input[type="checkbox"]:checked + label {  }
#popup .popup_inner .popup_contents input[type="checkbox"]:checked + label:before {
	content:""; position:absolute; top:72px; right:36px;
	display:inline-block;
	width:20px; height:20px;
	background:url(../images/check_on.png) center center no-repeat;
	background-size:100%;
}
#popup .popup_inner .popup_contents .icon_description { position:absolute; top:126px; left:27px; }
#popup .popup_inner .popup_contents input.text_description { width:384px; }
#popup .popup_inner .popup_contents input.text_description::placeholder { color:#CCCCCC; }


#popup .popup_inner p { position:absolute; top:35%; left:50%; transform:translate(-50%,-50%); width:90%; font-size:1rem; }
#popup .popup_inner .popup_btn { position:absolute; bottom:24px; left:0; right:0; margin-right:24px; font-size:0; text-align:right; }
#popup .popup_inner .popup_btn span { display:inline-block; width:80px; font-size:14px; line-height:32px; border-radius:4px; background:#497DDF; color:#ffffff; text-align:center; cursor:pointer; }
#popup .popup_inner .popup_btn span + span { margin-left:10px; }
#popup .popup_inner .popup_btn span.btn_left { background:#ffffff; border:1px solid #CCCCCC; color:#CCCCCC; }

#popup.mobile .popup_inner { top:auto; width:100%; height:250px; }
#popup.mobile .popup_inner .popup_contents input.text_description { width:90%; }